<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QLSHOPQUANAO.Properties.Settings.SHOPQUANAOConnectionString"
            connectionString="Data Source=DESKTOP-2MC26TB\CONGKIEN;Initial Catalog=SHOPQUANAO;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup useLegacyV2RuntimeActivationPolicy="true"> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
